@import form.CategoryFormData
@import lib.model.TodoCategory
@* CSRFトークンの生成ヘルパーで、requestHeaderを必要としているのでこちらも暗黙パラメートして渡しています。 *@
@(form: Form[CategoryFormData])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@main("登録画面") {
  <h1>登録画面です</h1>
  @helper.form(action = controllers.category.routes.TodoCategoryController.store()) {
    @* CSRFトークンの生成ヘルパーを呼び出している。これでいい感じにトークンが用意されます。 *@
    @helper.CSRF.formField
    @helper.inputText(form("name"),
      'rows -> 1, 'cols -> 40,
      '_label -> "カテゴリー名",'_showConstraints -> false
    )
    @helper.inputText(form("slug"),
      'rows -> 1, 'cols -> 40,
      '_label -> "slug",'_showConstraints -> false
    )
    @helper.inputRadioGroup(form("color"),
      options = TodoCategory.ColorStatus.statusSeq,
      '_label -> "色"
    )
    <input type="submit" value="登録">
    <p><a href="/">Homeに戻る</a></p>
    <p><a href="/todo/list">タスク一覧に戻る</a></p>
  }
}