@import controllers.todo.TodoFormData
@import lib.model.Todo
@import lib.persistence.default.TodoRepository
@* idを引数に追加 *@
@(id: TodoRepository.Id, form: Form[TodoFormData])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@main("編集画面") {
  <h1>編集画面です</h1>
  @helper.form(action = controllers.todo.routes.TodoController.update(id)) {
    @* CSRFトークンの生成ヘルパーを呼び出している。これでいい感じにトークンが用意されます。 *@
    @helper.CSRF.formField
    @helper.inputRadioGroup(form("category_name"),
      options = Seq("フロントエンド" -> "フロントエンド", "バックエンド" -> "バックエンド", "インフラ" -> "インフラ"),
      '_label -> "カテゴリー"
    )
    @helper.inputText(form("title"),
      'rows -> 1, 'cols -> 40,
      '_label -> "タイトル" ,'_showConstraints -> false
    )
    @helper.textarea(form("body"),
      'rows -> 7, 'cols -> 40,
      '_label -> "内容" ,'_showConstraints -> false
    )
    @helper.inputRadioGroup(form("state"),
      options = Seq("0" -> "TODO(着手前)", "1" -> "進行中", "2" -> "完了"),
      '_label -> "ステータス"
    )
    <input type="submit" value="更新">
    <p><a href="/">Homeに戻る</a></p>
    <p><a href="/todo/list">タスク一覧に戻る</a></p>
  }
}